[build]
builder = "nixpacks"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

[[services]]
name = "web"

[services.variables]
PORT = "8080"

[[services.ports]]
port = 8080

[[services]]
source = "."
destination = "/var/www/html"
